[toolchain]
anchor_version = "0.30.1"

[features]
resolution = true
skip-lint = false

[programs.localnet]
verifiagent = "G6cYQD4sC5aoVipQveiSrB3ccrocmjoz1f7P83nS2RVP"

[programs.devnet]
verifiagent = "G6cYQD4sC5aoVipQveiSrB3ccrocmjoz1f7P83nS2RVP"

[programs.mainnet]
verifiagent = "G6cYQD4sC5aoVipQveiSrB3ccrocmjoz1f7P83nS2RVP"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
